version: '3.8'

services:

  # MongoDB
  mongodb-service:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped

    #============================
    # Обязателно должен быть init-mongoDB.js в ./rail-stream-promo-back/config_assets/
    # с логикой инициализации БД (учитывать при Deployment)
    #============================
    volumes:
      - mongodb_data:/data/db
      - ./rail-stream-promo-back/src/config_assets/init-mongoDB.js:/docker-entrypoint-initdb.d/init-mongoDB.js    

    ports:
      - "27017:27017"

    networks:
      - backend-network

    

  # Redis 
  redis-service:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

    networks:
      - backend-network

    volumes:
      - redis_data:/data


  # Celery
  celery-service:
    image: python:3.11.14-alpine3.23
    container_name: celery
    depends_on:
      - redis-service

    networks:
      - backend-network

    command: >
      sh -c "pip install celery redis && celery -A celery_client_config worker 
          --loglevel=info 
          --concurrency=2 
          --queues=default 
          --hostname=default_worker@%h"

    #============================
    # Обязателно должен быть .env файл в ./rail-stream-promo-back/config_assets/
    # c установлеными значениями (учитывать при Deployment)
    
    #------------При Тестировании-------------------
    # CELERY_BROKER_URL_LOCALHOST -> Адресс используемого брокера Radis ... 
    # CELERY_BACKEND_URL_LOCALHOST -> Адрес хранилища результатов выполнения задачь

    #------------Для Celery worker-a в Docker контейнере-----------
    # CELERY_BROKER_URL_DOCKER
    # CELERY_BACKEND_URL_DOCKER

    #-----------------Для task отправки сообщений/уведомлений----------
    #(Одна из задачь сервиса это отправка сообщения на почту с уведомлением о заказе)
    # EMAIL_NOTIFIER -> Почтовый адрес куда будет отправлено сообщение (Единый отправитель и получатель)
    # PASSWORD_NOTIFIER -> Пароль
    # PORT_NOTIFIER -> SMTP порт 
    # HOST_NOTIFIER -> Используемый SMTP host, к примеру smtp.mail.ru
    #============================
    volumes:
      - ./rail-stream-promo-back/src/main/app/config/celery_client_config.py:/app/celery_client_config.py
      - ./rail-stream-promo-back/src/main/app/config/celery_task_schema.py:/app/celery_task_schema.py
      - ./rail-stream-promo-back/src/main/app/utils/load_env_file.py:/app/load_env_file.py
      - ./rail-stream-promo-back/src/config_assets/conf.env:/app/conf.env
    working_dir: /app

  # Backend (FastAPI) 
  backend-service:

    build:
      context: ./rail-stream-promo-back
      dockerfile: api.dockerfile

    container_name: backend

    depends_on:
      - redis-service
      - celery-service
      - mongodb-service

    ports:
    - "8000:8000"

    networks:
      - backend-network

volumes:
  redis_data:
  mongodb_data:

networks:
  backend-network:
    driver: bridge